$gris-claro: #e6e6e6
$verde-aceptar: #3a7d32
$verde-aceptar-hov: #4ea444
$background-grey: #f2f2f2
$negro-font: #454545
$rojo-eliminar: #873d3d
*
    margin: 0px
    padding: 0px
.container
    background-color: #f4f4f4
    min-height: 100vh
    font-family: sans-serif
    .containerBotones
        max-width: 95%
        margin-left: 10%
    .agregarCarta
        background-color: white
        padding: 10px
        border: 1px solid $gris-claro
        border-radius: 3px
        margin: 10px
        color: $negro-font
        a
            color: $negro-font
            text-decoration: none
        &:hover
            cursor: pointer

.cardsContainer
    max-width: 95%
    margin-left: 10%
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    .singleCard
        display: flex
        flex-direction: column
        justify-content: space-between
        min-width: 20%
        max-width: 20%
        border: 1px solid $gris-claro
        background-color: white
        color: $negro-font
        margin: 10px
        border-radius: 3px
        img
            margin: 0 auto
            min-width: 99.999%
            max-width: 100%
            min-height: 150px
            max-height: 150px
            object-fit: cover
            border-radius: 3px 3px 0 0
        .cardDescripcion
            max-height: 120px
            min-height: 120px
            overflow: hidden
        h1
            padding: 10px
            overflow: hidden
            margin: 0px
            text-align: center
            text-transform: capitalize
        p
            max-width: 90%
            margin: 0 auto
            padding-bottom: 10px
        .botones
            display: flex
            justify-content: center
            min-width: 95%
            max-width: 99%
            button
                padding: 10px
                min-width: 49%
                max-width: 50%
            .deleteCard
                background-color: white
                border: 0px
                color: $negro-font
                border-right: 1px solid $gris-claro
                transition-duration: 0.3s
                &:hover
                    text-decoration: underline
                    cursor: pointer
            .editCard
                border: 0px
                background-color: white
                text-decoration: none
                color: $negro-font
                a
                &:hover
                    cursor: pointer
                    text-decoration: underline

@media (max-width: 700px) 
    .cardsContainer
        max-width: 95%
        .singleCard
            min-width: 40%
            h1
                font-size: 1.2em
            p
                font-size: 0.8em
            .botones
                min-width: 95%
                button
                    min-width: 49%

@media (max-width: 425px) 
    .container
        .containerBotones
            margin-left: 5%
    .cardsContainer
        margin-left: 5%
        .singleCard
            min-width: 90%
            max-width: 90%
