$gris-claro: #e6e6e6
$verde-aceptar: #3a7d32
$verde-aceptar-hov: #4ea444
$background-grey: #f2f2f2
$negro-font: #454545
    
.cardsContainer
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    .singleCard
        display: flex
        flex-direction: column
        min-width: 20%
        max-width: 20%
        border: 1px solid $gris-claro
        color: $negro-font
        margin: 10px
        border-radius: 3px
        img
            margin: 0 auto
            min-width: 99.999%
            max-width: 100%
            min-height: 150px
            max-height: 150px
            object-fit: cover
            border-radius: 3px 3px 0 0
        h1
            padding: 10px
            overflow: hidden
            margin: 0px
            text-align: center
            text-transform: capitalize
        p
            max-width: 90%
            margin: 0 auto
            padding-bottom: 10px